html, body{
    height: 100%;
}
body{
    display: grid;
    grid-template-columns: 140px auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "header header"
    "main main"
    "footer footer";
    margin: 0px;
}
header{
    grid-area: header;
    text-align: center;
    background-color: #FF5733;
    font-family: cursive;
    font-style: italic;
    font-variant: unset;
    border-radius: 20px;
    margin: 10px;
    color: white;
    text-shadow: 1px 1px 1px black;
}

main{
    grid-area: main;
    font-family: cursive;
    font-style: italic;
    font-variant: unset;

}
#main {
    margin-left: 20px;
}

main button {
    background-color: #FF5733;
    border: solid;
    height: 25px;
    color: white;
    border-color: coral;
    margin-top: 20px;
}

footer{
    grid-area: footer;
    font-family: cursive;
    font-style: italic;
    font-variant: unset;
    text-decoration: overline;
    background-color: #FF5733;
}

footer p{
    margin-left: 20px;
}
