body, h1{
    margin: 0px;
}

header{
    text-align: center;
    background-color:  #FF5733;
    margin: 0px;
    height: 100px;
    color: white;
    font-family: cursive;
    font-style: italic;
    font-variant: unset;
    text-shadow: 1px 1px 1px black;
    border-radius: 50px;
    margin-top: 10px;
}

#content {
    display: flex;
    justify-content: space-between;
    margin: 100px auto 0px auto;
    width: 960px;
}

#scene {
    width: 960px;
    height: 600px;
    border: solid;
    border-color: coral;
    margin: 0px auto;
    position: relative;
}

#balle {
    height: 24px;
    width: 24px;
    background-color: #FF5733;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
}

#raquette {
    width: 96px;
    height: 16px;
    background-color:#FF5733;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

.brick {
    width: 64px;
    height: 24px;
    background-color: #FF5733;
    position: absolute;
    border: groove;
    border-color: #FD481F;
    box-sizing: border-box;
}

#score {
    font-family: cursive;
    font-variant: unset;
    width: 150px;
    text-align: end;
    color: #FD481F;
}

#message {
    text-align: center;
    color: #FD481F;
    margin-top: 250px;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 3px;
}

.material-icons {
    width: 144px;
    color: red;
}

#level {
    font-family: cursive;
    font-variant: unset;
    color: #FD481F;
}